* {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
}
body {

}
.sin-top h2 {
  text-align: center;
  font-family: 'Fugaz One', cursive;
  color: #5bb2fc;
  font-size: 32px;
  background: #F4F4F4;
  padding: 15px;
  margin-bottom: 35px;
}
.sin-text h3 {
  font-family: 'Fugaz One', cursive;
  color: #5bb2fc;
  font-size: 32px;
  margin-top: 5px;
}
.sin-text .ul1 li {
  float: left;
  width: 33%;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  margin-bottom: 30px;
}
.sin-text .ul1 li .a1 {
  display: inline-block;
  height: 30px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: 200;
}
.sin-text .ul1 li .a1 i {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  background: url(../img/icons.png) no-repeat -180px 4px;
}
.sin-text .ul1 li .a1:hover i {
  background: url(../img/icons.png) no-repeat -180px -22px;
}
.sin-text .ul1 li .a2 {
  display: inline-block;
  height: 30px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: 200;
}
.sin-text .ul1 li .a2 i {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  background: url(../img/icons.png) no-repeat -205px 5px;
}
.sin-text .ul1 li .a2 i:hover {
  background: url(../img/icons.png) no-repeat -205px -20px;
}
.sin-text .ul1 li .a3 {
  display: inline-block;
  height: 30px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: 200;
}
.sin-text .ul1 li .a3 i {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  background: url(../img/icons.png) no-repeat -230px 5px;
}
.sin-text .ul1 li .a3 i:hover {
  background: url(../img/icons.png) no-repeat -230px -20px;
}
.sin-text .sin-p p {
  color: #888;
  padding: 16px 0px;
  font-family: 'Raleway', sans-serif;
}
.sin-text .sin-p p span {
  font-weight: 700;
}
.sin-email .share {
  background: #F4F4F4;
  padding: 20px;
  overflow: hidden;
}
.sin-email .share .ul2 li {
  float: left;
  text-align: left;
  margin: 0px 12px;
  color: #5BB2FC;
  font-size: 19px;
  font-family: 'Fugaz One', cursive;
}
.sin-email .share .ul2 li .s1 {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat -255px 2px;
}
.sin-email .share .ul2 li .s1:hover {
  background: url(../img/icons.png) no-repeat -255px -23px;
}
.sin-email .share .ul2 li .s2 {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat -285px 2px;
}
.sin-email .share .ul2 li .s2:hover {
  background: url(../img/icons.png) no-repeat -285px -23px;
}
.sin-email .share .ul2 li .s3 {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat -310px 2px;
}
.sin-email .share .ul2 li .s3:hover {
  background: url(../img/icons.png) no-repeat -310px -23px;
}
.sin-email .share .s4 {
  float: right;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat -330px 2px;
}
.sin-email .share .s4:hover {
  background: url(../img/icons.png) no-repeat -330px -23px;
}
.sin-email h3 {
  font-family: 'Fugaz One', cursive;
  color: #5bb2fc;
  font-size: 32px;
}
.sin-email .email-top {
  overflow: hidden;
}
.sin-email .email-top .smith {
  float: left;
}
.sin-email .email-top .smith a {
  color: #fec63f;
  font-family: 'Fugaz One', cursive;
  font-size: 19px;
  text-decoration: none;
}
.sin-email .email-top .smith span {
  color: #5BB2FC;
  font-size: 16px;
  padding-left: 32px;
}
.sin-email .email-top .reply {
  float: right;
  padding-right: 30px;
}
.sin-email .email-top .reply a {
  font-size: 20px;
  text-decoration: none;
}
.sin-email .email-top .reply a i {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat -355px 2px;
}
.sin-email .email-top .reply a:hover i {
  background: url(../img/icons.png) no-repeat -355px -23px;
}
.sin-email .media {
  margin: 0px 0px 40px 0px;
}
.sin-email .media .man {
  background: #5BB2FC;
  width: 9%;
  padding: 32px 0px;
  text-align: center;
  vertical-align: middle;
}
.sin-email .media .man img {
  width: 25px;
  height: 25px;
  margin: 0px;
}
.sin-email .media p {
  color: #888;
  padding: 20px 0px;
  background: #F4F4F4;
  line-height: 26px;
  margin: 0px;
}
.sin-email .qq {
  margin-left: 50px;
}
.leave h3 {
  font-family: 'Fugaz One', cursive;
  color: #5bb2fc;
  font-size: 32px;
}
.leave form input {
  font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #ddd;
  color: #888;
  margin: 10px 0px;
}
.leave form textarea {
  font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #ddd;
  color: #888;
  margin: 10px 0px;
}
.leave form button {
  font-size: 16px;
  color: #fff;
  background: #fec63f;
  padding: 10px;
  display: inline-block;
  width: 13%;
  border: none;
  font-weight: 700;
}
.leave form button:hover {
  background: #5bb2fc;
  transition: all 0.5s;
}
/*# sourceMappingURL=single.css.map */
